name: Build

on: [push, pull_request]

env:
  LC_ALL: C
  KALEIDOSCOPE_CCACHE: 1
  ARDUINO_DIRECTORIES_USER: ${{ github.workspace }}/.arduino/user
jobs:
  smoke-sketches:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

## We delete the Bundle's version of Kaleidoscope, and symlink ourselves in.
## This makes sure we're using the current version of the library.
    - run: sudo apt-get install ccache
    - run: make setup
    - run: make smoke-sketches
  run-google-tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
#    - uses: mxschmitt/action-tmate@v3
    - run: sudo apt-get install ccache
    - run: make setup
    - run: make simulator-tests
  check-astyle:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get install astyle
    - uses: actions/checkout@v2
    - run: make setup
    - run: make check-astyle
  check-shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make setup
    - run: make shellcheck
  check-cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make setup
    - run: make cpplint
  find-filename-conflicts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make setup
    - run: make find-filename-conflicts 
